# gradle
.gradle/
build/
out/
classes/

# eclipse
*.launch

# idea
.idea/
*.iml
*.ipr
*.iws

# vscode
.settings/
.vscode/
bin/
.classpath
.project

# macos
*.DS_Store

# fabric
run/

# TAS clients
tas-client/run/
tas-client/client-version.txt
tas-client/.gradle/

# parkour gym Paper server
parkourgym-server/run/

# java
hs_err_*.log
replay_*.log
*.hprof
*.jfr

# local decompiled Minecraft sources
decompiled_minecraft/
